[Unit]
Description=Pedometer step counter
After=user-session.target

[Service]
ExecStart=/usr/bin/pedometerd

[Install]
WantedBy=post-user-session.target
