[Unit]
Description=Step counter
After=user-session.target

[Service]
ExecStart=/usr/bin/stpcntrd

[Install]
WantedBy=post-user-session.target
